<!-- Header -->
<section id="header">
  <div class="container">

    <!-- Logo -->
      <h1 id="logo"><a routerLink="">Blog</a></h1>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li routerLinkActive="active">
            <a class="icon solid fa-lock" routerLink="">
              <span>Login</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a class="icon fa-user" routerLink="/profile">
              <span>Profile</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a class="icon solid fa-users" routerLink="/users">
              <span>Users</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a class="icon solid fa-newspaper" routerLink="/posts">
              <span>Posts</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a class="icon solid fa-images" routerLink="/albums">
              <span>Albums</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a class="icon solid fa-list" routerLink="/todos">
              <span>To-Do</span>
            </a>
          </li>
        </ul>
      </nav>

  </div>
</section>
