<!-- Main -->
<section id="main">
  <div class="container">
    <div class="row aln-center">

      <!-- Content -->
      <div id="content" class="col-8 col-12-medium">

        <header>
          <h2>Profile</h2>
        </header>

        <mat-card class="example-card" *ngIf="user">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{ user.name }}</mat-card-title>
            <mat-card-subtitle>{{ user.website }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem"><strong>Company Name:</strong>&nbsp;{{ user.company.name }}</mat-list-item>
              <mat-list-item role="listitem"><strong>Catch Phrase:</strong>&nbsp;{{ user.company.catchPhrase }}</mat-list-item>
              <mat-list-item role="listitem"><strong>BS:</strong>&nbsp;{{ user.company.bs }}</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="showPosts(user.id)">{{ 'my posts' | uppercase }}</button>
            <button mat-button (click)="showAlbums(user.id)">{{ 'my albums' | uppercase }}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
