<!-- Main -->
<section id="main">
  <div class="container">
    <div class="row aln-center">

      <!-- Content -->
        <div id="content" class="col-8 col-12-medium" *ngIf="posts">

          <header>
            <h2>Posts ({{ posts.length }})</h2>
          </header>

          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              *ngFor="let post of posts"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ post.title }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{ post.body }}</p>
              <button
                mat-raised-button
                (click)="userDetail(post.userId)"
              >User detail</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
    </div>
  </div>
</section>
