<!-- Main -->
<section id="main">
  <div class="container">
    <div class="row aln-center">

      <!-- Content -->
        <div id="content" class="col-8 col-12-medium">

          <header>
            <h2>Login</h2>
          </header>

          <form [formGroup]="myForm">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
                <mat-icon matSuffix>person</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </p>
            <p>
              <button
                mat-raised-button
                color="primary"
                (click)="login()"
              >Login</button>
              <button
                mat-raised-button
                color="accent"
                (click)="register()"
              >Register</button>
            </p>
          </form>
        </div>
    </div>
  </div>
</section>
